name: Build APK

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.4'
      - run: |
          cd sw_app/
          flutter pub get
          flutter build apk --release

      - uses: actions/upload-artifact@v2
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
          if-no-files-found: error

      - name: Add package to release tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_name: andreped/sw_app
          file: build/app/outputs/apk/release/app-release.apk
          asset_name: app-release.apk
          file_glob: true
          tag: v1.0.0
          overwrite: true
