name: Build APK

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '2.10.4'
      - run: |
          cd sw_app/
          flutter pub get
          flutter build apk --release

      - uses: actions/upload-artifact@v2
        with:
          name: release-apk
          path: sw_app/build/app/outputs/flutter-apk/app-release.apk
          if-no-files-found: error
